//general
@use './partials/variables' as *;
@use './partials/header' as *;
@use './partials/jumbotron' as *;
@use './partials/main' as *;
@use './partials/footer' as *;

@import '~bootstrap/scss/bootstrap';
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600&family=PT+Sans+Narrow:wght@400;700&display=swap');

body{
    font-family: 'Open Sans', sans-serif;
    background-color: $content-bg;
}
.sans-narrow{
    font-family: 'PT Sans Narrow', sans-serif;
}

ul{ 
    list-style-type: none;
    margin: 0 !important;
}

h1{
    margin: 0 !important;
}

.container{
    @include container($contiainer-width);
}

//classes
//nav-links
nav.nav-links ul{
    display: flex;
    align-items: center;
}
li a{
    text-decoration: none;
}

//buttons
button,
a{
    cursor: pointer;
    text-transform: uppercase;
    color: white;
    border: 0;

    &:hover{
        opacity: $btn-hover;
    }

    &.outlined{
        font-size: .8rem;
        font-weight: 600;
        padding:.7rem;
        border:2px solid $main-dc-color;
        background-color: #0000;
    }
    
}
.filled{
    font-weight: 600;
    padding:.7rem 3rem;
    background-color: $main-dc-color;
    line-height: 50%;
    max-height: 3rem;
    &.disabled{
        filter: grayscale(1) !important;
    }
}

//input
.search-container{
    border-bottom:2px solid $main-dc-color;
    
    input,
    input:focus,
    i{
        max-width:90px;
        border:0;
        outline: 0;
        font-size: .85rem;
        font-weight: 800;
        color: $main-text-color;
        
        &::placeholder{
            opacity: 1;
            text-align: end;
        }
    }
}
//select
select{
    border: 0;
    background: #0000;
}