//sections color bg
$content-bg : #1c1c1c;
$sign-up-bg : #303030;

//main colors
$main-text-color : #505050;
$footer-link-text-color : #7c7c7c;
$main-dc-color : #0282f9;

//btn
$btn-hover : .7;//opacity

$margin-bottom:1rem;
$contiainer-width :992px;
$comic-contiainer-width :768px;